{% load static %}
{% get_static_prefix as STATIC_PREFIX %}
 


<div id="{{playerdivid}}" class="jp-jplayer"></div>
    <script type="text/javascript">
    //<![CDATA[
    $(document).ready(function(){
        $("{{playerdivid}}").jPlayer({
            ready: function () {
                $(this).jPlayer("setMedia", {
                    {{filetype}}: "{{url}}"
                });
            },
            solution: "flash, html",
            swfPath: "static/js",
            supplied: "{{filetype}}"
         }).jPlayer("load");
    });
    //]]>

